.navTab {
    text-align: end;
    padding-top: 5%;
    padding-bottom: 5%;
    color: $whiteColor;
    font-family: 'Adumu', sans-serif;
}

.navItems {
    filter: brightness(100%);
    color: $whiteColor;
    padding: 10px;
    text-decoration: none;
}

.navItems:hover {
    filter: brightness(150%);
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
