/* UTILITIES */
.container {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.RobofrogLogo {
    filter: drop-shadow($logoShadow 5px 5px);
    height: 12vh;
    width: 12vh;
    margin-top: -5%;

    :hover {
        animation-name: shake;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        cursor: pointer;
    }

}

.DeliveryLogo {
    filter: drop-shadow($logoShadow -3px 2px);
    padding-bottom: 2vh;
    width: 50%;
    margin-left: 30%;
}

.slogan {
    color: $whiteColor;
    background: transparent;
    text-align: center;
    text-shadow: $textShadow -6px 5px;
    padding-top: 15%;
    letter-spacing: 5px;
    font-family: 'Adumu';
    font-size: 400%;
}